/* Style Click Buy */

/* Geral */
* {
          font-family: "Open Sans", Arial;
}

/* Root */
:root {
          --Principal-1: #00273C;
          --Principal-2: #6B64E6;
          --Principal-3: #f0f0f0;
          --Texto-1: #fff;
          --Texto-2: #010101;
          --h-Navbar: 531px;

}

body {
          margin-top: 103px;   
}

/* hover */
/* Botões geral */
.form-login button {
          background-color: var(--Principal-1);
          text-transform: uppercase;
          font-weight: bold;
          padding: 10px 0;
          color: var(--Texto-1);
          
}

.form-login button:hover, div#home form div button:hover, div#produtos2 div > button:hover, div#produtos2 div > a:hover, #quant div button:hover {
          background-color: var(--Texto-1);
          border: 2px solid var(--Principal-1);
          color: var(--Principal-1);
          
}

/* Fundo */


/* Navbar */

nav {
          background-color: var(--Principal-1);
          padding: 10px 0 20px 0;
          position: fixed !important;
          width: 100%;
          z-index: 10;
          top: 0;
}

button.navbar-toggler {
    background-color: var(--Texto-1);
}

img {
          width: 100px;
}

.person {
          font-size: 50px;
}

ul {
          display: flex;
          align-items: center;
}

.dropdown-item {
          display: flex;
          align-items: end;
}

.dropdown-item > ion-icon {
          margin: 0 10px 3px 0;
}

li > a > ion-icon, li > button > ion-icon {
          font-size: 25px;
}

li > a {
          font-weight: bold !important;
          color: var(--Texto-1) !important;
}
.dropdown-menu > li > a , li>button {
          font-weight: bold !important;
          color: var(--Principal-1) !important;
}

li > a:hover , li>button:hover {
          color: var(--Principal-2)!important;
}

li.carrinho >ion-icon {
          position: absolute;
          color: red;
          border: none;
          z-index: 1;
          right: 11%;
          bottom: 55%;
}


/* Formulário */

/* Login, Logar */
#form, #form-2 {
          height: calc(100vh - 100px);
          display: flex;
          justify-content: center;
          align-items: center;
}

.form-login {
          justify-content: center;
          
}

.form-login div label {
          color: var(--Principal-1);
          font-weight: 700;
}

.form-login a.criar-conta {
          text-decoration: underline;
          color: var(--Principal-2);
}

.form-login a.criar-conta:hover {
          color: var(--Principal-1);
}

/* Alert */
.alert {
          position: absolute;
          width: 100%;
          top: 100px;
          right: 100px;
          z-index: 20;
}

/* Meus produtos */
div#titleBtn {
          position: fixed;
          top: 100px;
          padding: 30px 0 20px 0;
          border-bottom: 5px solid var(--Principal-1);
          width: 1296px;
          background-color: var(--Texto-1);
          display: flex;
          justify-content: space-between;
          z-index: 1;
}

div#titleBtn > h1 {
          font-family: "Quicksand";
          font-weight: 700;
}

div.produtos {
          margin: 270px 0 0 0 !important;
}

div.conteudo {
          display: flex;
          padding: 20px;
          background-color: #fcfcfc;
          border-radius: 14px;
          border: 3px solid #f0f0f0;
          margin: auto;
          width: 70%;
}

div.conteudo>.img {
          border-radius: 8px;
          border: 3px solid var(--Principal-1);
          width: 200px;
}

div.conteudo>.img>img {
    width: 100%;
    border-radius: 8px;
}

div.conteudo>div#info {
          margin: auto 30px;
}

div.conteudo>div#info>h6 {
          font-size: 20px;
          font-weight: bold;
}

div.conteudo>div#info>h6.nome {
          margin: 0 0 40px 0;
          font-size: 24px;
          color: var(--Principal-2);
          font-family: Quicksand !important;
}
div.conteudo>div#info>h6.categoria {
          margin: 0 0 30px 0;
}

div#titleBtn>a {
          background-color: var(--Principal-1);
          text-transform: uppercase;
          font-weight: bold;
          padding: 15px 20px;
          color: var(--Texto-1);
          
}

div#titleBtn>a:hover {
          background-color: var(--Texto-1);
          border: 2px solid var(--Principal-1);
          color: var(--Principal-1);
          
}

div#titleBtn h1 {
          font-weight: bold;
          color: var(--Principal-1);
}

div.produtos div a>ion-icon {
          font-size: 25px;
          font-weight: bold;
}

div.produtos div {
          margin: auto;
}

/* Inicio */
div#produtos2 {
          margin: 160px 0 0 0 !important;
}

div#produtos2 div button {
          color: var(--Texto-1);
}

div#produtos2 div button> ion-icon {
          font-size: 20px;
}

div#produtos2 div#btn {
          margin: auto;
}

div#produtos2 div button, div#produtos2 div a {
          background-color: var(--Principal-1);
          color: var(--Texto-1);
}

div#home form {
          position: fixed;
          width: 70%;
          left: 232px;
          top: 103px;
}

div#home form div {
          height: 40px;
}

div#home form div button, div#home form div a {
          background-color: var(--Principal-1);
          color: var(--Texto-1);
}

/* Produto específico */
#quant {
    width: 150px;
}
.quantity-input {
    text-align: center;
}

#quant div button {
    background-color: var(--Principal-1);
    color: var(--Texto-1);
}

#quant div button.btn-compra {
    width: 250px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 16px;
}

div.princ .informacoes {
          padding: 20px 20px 50px;
          background-color: #fcfcfc;
          border-radius: 14px;
          border: 3px solid #f0f0f0;
          margin: auto;
}

div .imagen img.image-2 {
    width: 500px;
    border: 3px solid var(--Principal-2);
    border-radius: 8px;
}

div.princ {
    margin: 0 0 0 100px ;
}

main#prod-unic {
    margin-top: 150px;
}